.top {
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fade {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.context_menu {
  position: fixed;
  z-index: 10;
}

.dialog {
  z-index: 30;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 960px;
  width: auto;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.dialog_content {

}
