.dialog {
  background-color: var(--itmo-colors-white);
  border: 1px solid var(--itmo-colors-border);
  border-radius: 10px;
  flex-direction: column;
  width: fit-content;
  overflow: hidden;
  position: relative;
  padding: 0 !important;
}

.dop__wrap {
  overflow-y: scroll;
  max-height: calc(100vh - 80px);
  padding: 10px;
  padding-top: 0;
}

.dop__wrap_unoverflow {
  overflow-y: visible;
  max-height: calc(100vh - 80px);
  padding: 10px;
  padding-top: 0;
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--itmo-colors-gray);
  padding: 10px 20px;
  padding-top: 20px;
  gap: 20px;
  top: 0;
  left: 0;
  background-color: var(--itmo-colors-white);
  z-index: 100;
}

.name {
  font-size: 16px;
  font-weight: bold;
  filter: var(--itmo-filter-blue-selected);
  text-align: left;
  width: 100%;
}

.close {
  background-color: var(--itmo-colors-white);
  border: 0;
  font-size: 24px;
  opacity: 0.4;
  padding: 0;
}

.close:hover {
  cursor: pointer;
}

.content {
  font-size: 14px;
  padding: 10px;
}
