.arrow {
  margin-left: 10px;
  height: 32px;
}

.arrow:hover {
  cursor: pointer;
}

.arrow_up {
  transform: rotate(180deg);
}

.entry_side_container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.arrow_container {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.read_button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.search {
  display: flex;
  min-width: 250px;
  width: auto;
  margin-bottom: 10px;
}

.dialog {
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100% - 60px);
  width: auto;
  max-width: 960px;
}

.dialog_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}

.dialog_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.dialog_text {
  font-size: large;
  text-align: center;
}

.fade {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  padding-top: 30px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.user {
  border: 1px solid var(--itmo-colors-gray2);
  border-radius: 4px;
}

.user_entry {
  display: flex;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

.user_left {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 3px;
  cursor: pointer;
}

.user_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px 5px 5px;
  justify-content: space-between;
}

.user_heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_name {
  font-weight: bold;
  font-size: 16px;
}

.user_role {
  background-color: var(--itmo-colors-blue-10);
  padding: 3px;
  font-size: 14px;
  border-radius: 3px;
}

.user_login {
  font-size: 14px;
}

.context_menu {
  position: fixed;
  z-index: 10;
}

.icon_dots {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon_expand {
  width: 24px;
  height: 24px;
  user-select: none;
  cursor: pointer;
}

.expanded {
  transform: rotate(180deg);
}

.role_groups {
  display: table;
  table-layout: auto;
  width: 100%;
  font-size: 14px;
  word-wrap: break-word;
}

.role_group {
  display: table-row;
}

.role_group_name {
  display: table-cell;
  border-right: 1px solid var(--itmo-colors-border);
  border-top: 1px solid var(--itmo-colors-border);
  padding: 5px 10px;
  width: 50%;
}

.role_group_roles {
  display: table-cell;
  border-top: 1px solid var(--itmo-colors-border);
  padding: 5px 10px;
  width: 50%;
}