
.activity_card_row {
  padding: 1rem 1.5rem;
  border-color: var(--itmo-colors-dark-gray);
  line-height: 1.5rem;

  word-wrap: break-word;
}

.activity_card_header {
  font-weight: 700;
  line-height: 2rem;
  border-bottom: 1px solid var(--itmo-colors-gray);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity_card_info {
  color: var(--itmo-colors-dark-gray);
}

.activity_card_footer {
  border-top: 1px solid var(--itmo-colors-gray);
  display: flex;
  justify-content: flex-end;
}

.activity_card_footer Button {
  margin-left: 1rem;
}

.redBtn {
  background-color: var(--itmo-colors-red);
}

.activity_initial_row {
  margin-bottom: 1.5rem;
}

.activity_secondary_row {
  margin-top: .35rem;
}

.activity_card_description {
  color: var(--itmo-colors-dark-gray);
  font-size: .8rem;
}

.activity_card_info {
  color: var(--itmo-colors-dark-gray);
  font-size: .9rem;
}

.activity_card_field {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.activity_card_field label {
  font-weight: 700;
  color: var(--itmo-colors-black);
  flex: 0 0 50%;
  max-width: 50%;
  margin-right: .5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.activity_card_field .value {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 0.75rem;
}

.status {
  border-radius: .375rem;
  height: 2.5rem;
  width: 2.5rem;
}

.activity_card_header .icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
  line-height: 2rem;
}

.status_DRAFT {
  background: #e7e7e7;
}

.status_DRAFT .icon {
  stroke: #5c5c5c;
}

.status_PUBLISHED {
  background: #fef8e5;
}

.status_PUBLISHED .icon {
  stroke: #f7b500;
}

.status_COMPLETED {
  background: #e9f7e8;
}

.status_COMPLETED .icon{
  stroke: #22b217;
}

.status_CANCELED {
  background: #fceaea;
}

.status_CANCELED .icon{
  fill: #e02e2e;
}

.field_separator {
  border-top: 1px solid var(--itmo-colors-gray);
  margin: .35rem 0;
}

.drop_down_toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;
  margin-bottom: .35rem;

  border-bottom: 1px solid var(--itmo-colors-gray);

  cursor: pointer;
}

.drop_down_toggle .icon {
  height: 0.75rem;
  width: 0.75rem;
}

.arrow_up {
  transform: rotate(180deg);
  transition: 0.25s ease-out;
}

.arrow_down {
  transition: 0.25s ease-out;
}

.add_info_hidden {
  display: flow-root;
  transition: max-height .25s ease-out;
  overflow: hidden;
  max-height: 0;
}

.add_info_visible {
  display: flow-root;
  transition: max-height .25s ease-out;
  max-height: 300px;
}
