.page_tabs {
    border: none;
    background-color: var(--itmo-colors-white);
    display: flex;
    flex-direction: row;
    gap: 20px
}

.page_tab_container {
    border: none;
    background-color: var(--itmo-colors-white);
    border-bottom: 2px solid var(--itmo-colors-dark-gray);
    padding: 5px 5px;
}

.page_tab_container_selected {
    border-bottom: 2px solid var(--itmo-colors-blue-selected);
    padding: 5px 5px;
}

.page_tab_container:not(.page_tab_container_selected):hover {
    background-color: var(--itmo-colors-gray);
}

.page_tab {
    text-decoration: none;
    font-size: 16px;
    color: var(--itmo-colors-dark-gray);
}

.page_tab_selected {
    text-decoration: none;
    font-size: 16px;
    color: var(--itmo-colors-blue-selected);
}