.list_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.navigator {
  border: 1px solid var(--itmo-colors-gray2);
  border-radius: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  gap: 20px;
  padding: 10px 20px;
}

.nav_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav_button {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--itmo-colors-dark-gray2);
  user-select: none;
}

.current_page {
  font-weight: bold;
  color: var(--itmo-colors-dark-gray2);
  pointer-events: none;
  cursor: not-allowed;
}

.nav_info {
  display: flex;
  flex-flow: row nowrap;
}

.nav_page_nums {
  min-width: 250px;
  width: 250px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin: auto;
  justify-content: center;
}

.nav_page_num {
  text-decoration: none;
  font-size: 18px;
  color: var(--itmo-colors-dark-gray2);
  cursor: pointer;
}

.nav_page_num_selected {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--itmo-colors-dark-gray2);
}

.nav_page_num_selected2 {
  font-weight: bold;
  pointer-events: none;
  cursor: not-allowed;
}

.arrow {
  height: 24px;
  width: 24px;
  cursor: pointer;
}