.dropdown {
  position: relative;
}

.option_list {
  z-index: 10;
  background-color: var(--itmo-colors-white);
  position: absolute;
  left: 0;
  right: 0;
}

.dropdown_border {
  background-color: var(--itmo-colors-white);
  border: 1px solid var(--itmo-colors-black);
  border-radius: 10px;
}

.dropdown_border_open {
  border: 1px solid var(--itmo-colors-black);
  border-bottom: 1px solid transparent;
  border-radius: 10px 10px 0 0;
}

.dropdown_list_border {
  border: 1px solid var(--itmo-colors-black);
  border-radius: 0 0 10px 10px;
}

.dropdown_item_container {
  border-radius: 10px;
  padding: 9px 9px;
  text-decoration: none;
  font-size: 16px;
  color: var(--itmo-colors-black);
}

.dropdown_item_container_selected {
  background-color: var(--itmo-colors-blue-selected);
  border-radius: 10px;
  padding: 9px 9px;
  text-decoration: none;
  font-size: 16px;
  color: var(--itmo-colors-white);
}

.dropdown_item_container:not(.dropdown_item_container_selected):hover {
  background-color: var(--itmo-colors-gray);
  cursor: pointer;
}

.dropdown_placeholder {
  text-decoration: none;
  font-size: 16px;
  color: var(--itmo-colors-dark-gray);
}

.dropdown_selected_option {
  text-decoration: none;
  font-size: 16px;
  color: var(--itmo-colors-black);
}

.hidden {
  visibility: hidden;
}
