.dropdown {
  background-color: var(--itmo-colors-white);
  border: 1px solid var(--itmo-colors-black);
  border-radius: 10px;
}

.dropdown_item_container {
  background-color: var(--itmo-colors-white);
  border-radius: 10px;
  padding: 9px 9px;
}

.dropdown_item_container_selected {
  background-color: var(--itmo-colors-blue-selected);
  border-radius: 10px;
  padding: 9px 9px;
}

.dropdown_item_container:not(.dropdown_item_container_selected):hover {
  background-color: var(--itmo-colors-gray);
  cursor: pointer;
}

.dropdown_placeholder {
  text-decoration: none;
  font-size: 16px;
  color: var(--itmo-colors-dark-gray);
}

.dropdown_selected_option {
  text-decoration: none;
  font-size: 16px;
  color: var(--itmo-colors-black);
}

.dropdown_item {
  text-decoration: none;
  font-size: 16px;
  color: var(--itmo-colors-black);
}

.dropdown_item_selected {
  text-decoration: none;
  font-size: 16px;
  color: var(--itmo-colors-white);
}
