.activity_container {
  border: 1px solid var(--itmo-colors-gray);
  border-radius: .5rem;
  padding: 1rem;

  word-wrap: break-word;
  font-weight: 400;
  font-size: .875rem;

  transition: .3s;

  cursor: pointer;
}

.activity_row {
  align-items: center;
}

.activity_initial_row {
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  border-radius: .375rem;
  height: 2.5rem;
  width: 2.5rem;
}

.activity_secondary_row {
  margin-top: .35rem;
}

.activity_name {
  font-size: .9rem;
  font-weight: 700;
  color: var(--itmo-colors-black);
  min-height: 2.5rem;

  display: flex;
  align-items: center;
}

.activity_description .activity_place .activity_time {
  font-size: 16px;
  color: var(--itmo-colors-dark-gray);
}

.activity_description {
  max-height: 6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.activity_line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.activity_word {
  padding-right: .5rem;
  margin-left: .5rem;
}

.activity_initial_row .icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
  line-height: 2rem;
}

.status_DRAFT {
  background: #e7e7e7;
}

.status_DRAFT .icon {
  stroke: #5c5c5c;
}

.status_PUBLISHED {
  background: #fef8e5;
}

.status_PUBLISHED .icon {
  stroke: #f7b500;
}

.status_COMPLETED {
  background: #e9f7e8;
}

.status_COMPLETED .icon{
  stroke: #22b217;
}

.status_CANCELED {
  background: #fceaea;
}

.status_CANCELED .icon{
  fill: #e02e2e;
}

.activity_secondary_row .icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--itmo-colors-dark-gray);
}
