.button {
  background-color: var(--itmo-colors-blue-80);
  border-radius: 10px;
  padding: 12px 30px;
  color: var(--itmo-colors-white);
  font-size: 18px;
  font-weight: bold;
  border-width: 0;
}

.button:hover {
  cursor: pointer;
  background-color: var(--itmo-colors-blue);
}
