.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0px;
  border: 1px solid var(--itmo-colors-border);
  background-color: var(--itmo-colors-white);
  box-shadow: var(--itmo-box-shadow);
  border-radius: 10px;
  font-size: 14px;
}

.item {
  padding: 7px 10px;
}

.item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
