@import url("@shared/ui/fonts/fontFaces.css") layer(base);

:root {
  --itmo-colors-white: #FFFFFF;
  --itmo-colors-black: #000000;
  --itmo-colors-blue-80: rgba(1, 83, 200, 0.8);
  --itmo-colors-blue: rgba(1, 83, 200, 1);

  font-family: "Open Sans";
}
