.textarea {
  border: 1px solid var(--itmo-colors-black);
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
  outline: none;
  resize: none;
}

.textarea:focus {
  border: 1px solid var(--itmo-colors-blue);
}
