.root {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  height: 100%;
}

.grid_one {
  grid-column: 1;
  grid-row: 1;
  border-style: solid;
  border-color: var(--itmo-colors-gray);
  border-width: 0px 1px 0px 0px;
}

.grid_two {
  grid-column: 2;
  grid-row: 1;
}

.grid_three {
  grid-column: 1;
  grid-row: 2;
  border-style: solid;
  border-color: var(--itmo-colors-gray);
  border-width: 0px 1px 0px 0px;
}

.grid_four {
  grid-column: 2;
  grid-row: 2;
}
