.search {
  padding: 6px 0;
  display: flex;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  width: 100%;
  align-items: center;
}

.input {
  width: 100%;
  border: none;
  font-size: 15px;
  padding: 0 10px;
}

.input:focus {
  outline: none;
}

.icon_cnt {
  height: 24px;
  border-left: 1px solid hsl(0, 0%, 80%);
  display: flex;
  justify-content: right;
  padding: 0 10px;
}

.icon_cnt:hover {
  cursor: pointer;
}
