.search {
  padding: 5px 0px;
  display: flex;
  border: 1px solid var(--itmo-colors-border);
  border-radius: 4px;
  width: 100%;
  align-items: center;
}

.input {
  width: 100%;
  border: none;
  font-size: 15px;
  padding: 0px 10px;
}

.input:focus {
  outline: none;
}

.icon_cnt {
  height: 24px;
  border-left: 1px solid var(--itmo-colors-border);
  display: flex;
  justify-content: right;
  padding: 0px 10px;
}

.icon_cnt:hover {
  cursor: pointer;
}
