.header {
  background-color: var(--itmo-colors-white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 100px;
}

.tabs {
  margin-left: 50px;
}

.button_container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
}

.image_box {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: 400px;
}

.image {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.info_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.info_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 62%;
}

.table {
  max-width: 38%;
  width: 100%;
  border: 1px solid var(--itmo-colors-gray);
  border-collapse: collapse;
  border-radius: 10px;
}

@media screen and (max-width: 1080px) {
  .info_page {
    flex-direction: column;
    justify-content: normal;
  }

  .info_column {
    max-width: 100%;
    width: 100%;
  }

  .table {
    max-width: 100%;
    width: 100%;
  }
}

.description_box {
  border: 1px solid var(--itmo-colors-gray);
  border-radius: 10px;
  padding: 20px;
  height: max-content;
}

.table th {
  font-weight: bold;
  padding: 10px 20px;
  background: var(--itmo-colors-gray);
  text-align: left;
  border: 1px solid var(--itmo-colors-gray);
}

.table td {
  border: 1px solid var(--itmo-colors-gray);
  padding: 10px 20px;
}

.field_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.data_list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: stretch;
  padding-bottom: 50px;
  gap: 30px;
}

.activity_container {
  border: 1px solid var(--itmo-colors-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  gap: 20px;
}

.activity_info_column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 15px;
}

.activity_time_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.activity_place_container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 20px;
}

.activity_name {
  font-size: 16px;
  font-weight: bold;
  color: var(--itmo-colors-black);
}

.activity_place {
  font-size: 16px;
  color: var(--itmo-colors-black);
}

.info_block {
  font-size: 16px;
  color: var(--itmo-colors-dark-gray);
}

.activity_time {
  font-size: 16px;
  color: var(--itmo-colors-dark-gray);
  text-align: center;
}
.fade {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  padding-top: 30px;
}
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
.dialog {
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100% - 60px);
  width: auto;
  max-width: 960px;
}
.dialog_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
.dialog_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 10px;
}

