.event_form {
  min-height: 100%;
  background-color: var(--itmo-colors-white);
  display: block;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.event_form_item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0.5rem;
}

.event_form_button {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 10rem;
  margin: 0.5rem;
}

.eventcreation__content {
  padding: 0;
}
