.events_page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.horizontal_bar {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.filters {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.filter_group {
  border: 1px solid var(--itmo-colors-gray);
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.filter_element {
  min-width: 200px;
  border: 1px solid var(--itmo-colors-black);
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
}

.dropdownfilter {
  min-width: 200px;
}

.search {
  min-width: 250px;
  flex-grow: 1;
}

.event_list_container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
}

.event_entry {
  border: 1px solid var(--itmo-colors-gray);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  cursor: pointer;
}

.event_icon {
  width: 75px;
  height: 75px;
}

.event_info_column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.event_name {
  color: var(--itmo-colors-black);
  font-weight: bold;
}

.event_place {
  color: var(--itmo-colors-dark-gray);
}
/* dialog */
.fade {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  padding-top: 30px;
}
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
.dialog {
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100% - 60px);
  width: auto;
  max-width: 960px;
  height: auto;
  max-height: none;
  overflow: visible;
  box-sizing: border-box;
}
